- require 'json'
- require 'sinatra'
- language = 'fr'
- assets_base_path = "../../"
- bin_base_path = "resume/#{language}"
- @resume_json = ::JSON.parse(File.read("#{bin_base_path}/resume.json"))
- @i18n_json = ::JSON.parse(File.read("#{bin_base_path}/i18n.json"))

!!! 5
%html
  %head
    %title= @resume_json['basics']['name']
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %link{ rel: :stylesheet, type: "text/css", href: "#{assets_base_path}style/shared.css" }
    %link{ rel: :stylesheet, type: "text/css", href: "#{assets_base_path}style/resume.css" }

    %link{ rel: :icon, href: "#{assets_base_path}style/favicon/favicon.ico" }
    %link{ rel: :icon, href: "#{assets_base_path}style/favicon/favicon-32x32.png", sizes: "32x32" }
    %link{ rel: :icon, href: "#{assets_base_path}style/favicon/favicon-16x16.png", sizes: "16x16" }

  %body
    .container
      .row
        .col-12.col-md-8
          %h1.mt-5= @resume_json['basics']['name']
          %h2
            = @resume_json['basics']['label']
            %img.ruby-icon{ src: "#{assets_base_path}style/vectors/ruby.svg", alt: "Ruby" }

        .col.d-none.d-md-block
          .row.h-100.align-items-end
            .col.text-right
              %img.mr-3.rounded-circle.profile-picture{ src: "#{assets_base_path}#{@resume_json['basics']['picture']}" }

      .row.mt-3
        .col.text-right
          .icons.mr-3.float-right.text-center
            - @resume_json['basics']['profiles'].each do |profile|
              %a{ href: profile['url'], target: :_blank }
                %img.vector{ src: "#{assets_base_path}style/vectors/#{profile['network'].downcase}.svg", alt: profile['network'] }

            %a{ href: "mailto:#{@resume_json['basics']['email']}" }
              %img.vector{ src: "#{assets_base_path}style/vectors/email.svg", alt: "Email" }

      .row
        .col
          %hr

      .row.justify-content-center
        .col
          %p.lead.mb-0= @resume_json['basics']['summary']

      .row
        .col
          %hr

      .row.mt-5.align-items-center
        .col
          %h3= @i18n_json['work']

      - @resume_json['work'].each do |work_xp|
        .row.mt-3.work-experience-title-container
          .col
            .row.stike-through
              .col
                %h4.mb-1
                  %span.forced-background.pr-1
                    = work_xp['company']
                    - if work_xp['website'] && !work_xp['website'].empty?
                      %a{ href: work_xp['website'], target: :_blank }
                        %img.vector{ src: "#{assets_base_path}style/vectors/external-link.svg", alt: work_xp['website'] }
              .col.text-right
                - start_date = Date.parse(work_xp['startDate']).strftime('%B %Y')
                - end_date = work_xp['endDate'] ? Date.parse(work_xp['endDate']).strftime('%B %Y') : nil
                - full_date = end_date ? [start_date, end_date].compact.join(' - ') : "#{@i18n_json['from']} #{start_date}"
                %strong.forced-background.pl-1= full_date

            %h5= work_xp['position']

        .row.m-3
          .col
            - unless work_xp['summary'].empty?
              .alert.alt-background.p-2
                %strong= work_xp['summary']

        .row.mb-5.ml-4.mr-4
          .col
            %h5= @i18n_json['highlights']
            %ul
              - work_xp['highlights'].each do |work_highlight|
                %li= work_highlight

