- require 'json'
- require 'sinatra'
- language = 'fr'
- assets_base_path = "../../"
- bin_base_path = "resume/#{language}"
- @resume_json = ::JSON.parse(File.read("#{bin_base_path}/resume.json"))
- @i18n_json = ::JSON.parse(File.read("#{bin_base_path}/i18n.json"))

!!! 5
%html
  %head
    %title= @resume_json['basics']['name']
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %link{ rel: :stylesheet, type: "text/css", href: "#{assets_base_path}style/shared.css" }
    %link{ rel: :stylesheet, type: "text/css", href: "#{assets_base_path}style/resume.css" }
  %body
    %main
      -# TITLE
      %header.title
        %h1= @resume_json['basics']['name']
        %h2
          = @resume_json['basics']['label']
        %img.profile-picture{ src: "#{assets_base_path}#{@resume_json['basics']['picture']}" }

      -# EXTERNAL LINKS
      %nav.external-links
        %ul
          - @resume_json['basics']['profiles'].each do |profile|
            %li
              %a{ href: profile['url'], target: :_blank }
                = profile['network'].downcase
          %li
            %a{ href: "mailto:#{@resume_json['basics']['email']}" }
              email

      %hr

      %section.summary
        %p= @resume_json['basics']['summary']

      %hr

      %section.main-content
        %section.work-experiences
          %h3= @i18n_json['work']

          - @resume_json['work'].each do |work_xp|
            %article.work-experience
              %header
                %h4
                  %span.company= work_xp['company']
                  - if work_xp['website'] && !work_xp['website'].empty?
                    %a{ href: work_xp['website'], target: :_blank }
                      = work_xp['website']
                %div.dates
                  - start_date = Date.parse(work_xp['startDate']).strftime('%B %Y')
                  - end_date = work_xp['endDate'] ? Date.parse(work_xp['endDate']).strftime('%B %Y') : nil
                  - full_date = end_date ? [start_date, end_date].compact.join(' - ') : "#{@i18n_json['from']} #{start_date}"
                  %strong= full_date
                %h5= work_xp['position']

              - unless work_xp['summary'].empty?
                %p.work-summary
                  %strong= work_xp['summary']

              %h5= @i18n_json['highlights']
              %ul
                - work_xp['highlights'].each do |work_highlight|
                  %li= work_highlight

        %section.sidebar
          %section.skills
            %h3= @i18n_json['skills']

            - @resume_json['skills'].each do |skill_collection|
              %div.skill-group
                %h5= skill_collection['name']
                %ul.skills
                  - skill_collection['keywords'].each do |skill|
                    %li= skill

            %hr

          %section.education
            %h3= @i18n_json['education']
            - @resume_json['education'].each do |education|
              %div.education-item
                %h5= education['institution']
                %h6= [education['area'], education['studyType']].compact.join(' - ')
                = "(#{education['endDate'][0..3]})"

            %hr

          %section.languages
            %h3= @i18n_json['languages']
            - @resume_json['languages'].each do |language|
              %div.language-item
                %h5= language['language']
                %h6= language['fluency']

            %hr

          %section.interests
            %h3= @i18n_json['interests']
            - @resume_json['interests'].each do |interest|
              %div.interest-item
                %h5= interest['name']
                - unless interest['keywords'].empty?
                  %h6= interest['keywords'].join(', ')
